* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}

i {
    color: white;
    padding-right: 5px;
}

p {
    color: white;
}

.btn__one {
    transition: ease-in-out 0.5s;
}

.btn__two {
    transition: ease-in-out 0.5s;
}

